@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-reverse {
  to {
    transform: rotate(-360deg);
  }
}

$shake-smooth: tilt-shaking 1s linear infinite;
$shake-smooth--alternate: tilt-shaking 1s ease-in-out infinite alternate;

$rotate: rotate 1s linear infinite;
$rotate--reverse: rotate-reverse 1s linear infinite;