@use "breakpoints" as *;

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin scroll-inline($minColumnWidth: auto) {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: $minColumnWidth;
  gap: 0.5em;
  overflow-x: auto;
  overscroll-behavior-inline: none;
  padding: 0.5em 0;
}