.login {
  
}

.logo {
  margin-bottom: 16px;
  max-width: 150px;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.link {
  display: flex;
  flex-direction: column;
}

.login-inputs input {
  border: 1px solid var(--green-prymary);
  border-radius: 5px;
  height: 40px;
  margin: 5px;
  padding: 0 0 0 15px;
}

.link button {
  align-items: center;
  align-self: center;
  background-color: var(--green-prymary);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  margin-top: 15px;
  padding: 5px;
  width: 400px;
}

.icon {
  margin-right: 12px;
  max-width: 20px;
}

.link button:hover {
  background-color: var(--green-secondary);
}

.link button:disabled {
  background-color: var(--green-prymary);
  cursor: not-allowed;
  opacity: 40%;
}

@media screen and ( max-width : 768px ) {

  .login {
    width: 350px;
  }

  .link button, .login-inputs {
    width: 300px;
  }
}

@media screen and ( max-width : 360px ) {

  .login {
    margin-top: 20%;
    width: 330px;
  }

  .link button, .login-inputs {
    width: 300px;
  }
}
