@use "@/sass/themes/theme" as *;
@use "@/sass/abstracts/variables" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: map-get($map: $theme-colors, $key: "yellow");
  height: $header-height;
  box-shadow:  0 1px 4px 1px rgba(0, 0, 0, 0.2);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $max-content-width;
  }
  
  &__search-button {
    background-color: map-get($map: $theme-colors, $key: "yellow");
  }
}

