@use "@/sass/themes/" as *;

.recipe-card {
  max-width: 400px;
  flex-grow: 1;
}

.recipe-card--scale-on-hover {
  .recipe-card-img {
    border-radius: 5px 5px 0 0;
    overflow: hidden;

    img {
      transition: transform 0.2s ease-in-out;
    }
  }


  &:hover, &:focus {
    .recipe-card-img img {
      transform: scale(1.1);
    }
  }
}

.recipe-card-body {
  min-height: 0;

  &-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: map-get($map: $theme-colors, $key: "black");
  }
}