@use "../abstracts/variables" as *;

.content {
  max-width: $max-content-width;
  width: 100%;
  margin: 0 auto;
  min-height: calc(100vh - $header-height - $footer-height);
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
}