@use "@/sass/abstracts" as *;

.recipe-content {
  margin-top: 3em;
  margin-bottom: 5em;
  max-width: $max-content-width;

  @include respond-to("desktopM") {
    margin-left: 4rem;
  }
}

.recipe-content-ingredients {
  padding-left: 2rem;
  
  @include respond-to("tabletS") {
    padding-left: 3rem;
  }
}

.recipe-content-recommended {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 45%;
  gap: 0.5em;
  overflow-x: auto;
  overscroll-behavior-inline: none;
  padding: 0.5em 0;
  max-height: 450px;
}



